rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Helper function to check if the user is signed in
    function isSignedIn() {
      return request.auth != null;
    }
    
    // Helper function to check if the user is accessing their own data
    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    // Match files in the users folder
    match /users/{userId}/{allPaths=**} {
      allow read, write: if isSignedIn() && isOwner(userId);
    }
    
    // Default deny
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
